#DragBox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#Textarea {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 95%;
	height: 90%
}
#Downloader {
	display: none;
}
.foot {
	position: fixed;
	bottom: 0px;
	left: 2px;
}